.middleContent{
    margin: 1rem 200px;
    transform: translateY(30px);
}

.notice_title{
    transform: translateX(100px);
    margin-bottom: 2rem;
}

.notice_list_row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.notice_list_row_btn{
    margin-right: 0.3rem;
}

.notice_list_state{
    width: 210px;
    text-align: center;
}