/**/
@mixin filledStyle() {
  width: 400px;
  height: 200px;
  border: 5px dashed #FF8888;
  background-color: white;
  color: #FF8888;
  border-radius: 10px;
  font-size: 20pt;
  font-weight: bold;
  }
  
  @mixin alignCenter() {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
  }

  .wholediv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .DragDrop {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 3rem;
    @include alignCenter();
    
    &-File {
      width: 1110px;
      height: 155px;
      border: 5px dashed #FF8888;
      background-color: white;
      color: #FF8888;
      border-radius: 10px;
      font-size: 20pt;
      font-weight: bold;

      @include alignCenter();
      cursor: pointer;
      //transition: 0.12s ease-in;
  
      // &-Dragging {
      //   @include filledStyle();
      // }
    }
  
    &-Files {
  
      & > div {
        width: 300px;
        padding: 8px;
        border: 1px solid black;
        //margin-bottom: 10px;
        display: flex;
        //justify-content: space-between;
      }


      &-Filter {
        cursor: pointer;
        
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .DragDrop-Files{

    width: 1110px;
    height: 300px;
    border: none;
    background-color: #FFF4F4;
    border-radius: 10px;
    padding: 1rem;
    overflow-y: auto;

  }
  ::-webkit-scrollbar{
    display: none;
  }

  .lists{
    margin: 1rem ;
  }

  .list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 985px;
    height: 75px;
    border-radius: 5px;
    font-size: 16pt;
    background-color: #FFD3D3;
    margin: auto;
    padding: 0.5rem 0.2rem;

    &-new {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 985px;
      height: 75px;
      border-radius: 5px;
      font-size: 16pt;
      background-color: #FF9C9C;
      margin: auto;
      padding: 0.5rem 0.2rem;
    }

    &-edited {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 985px;
      height: 75px;
      border-radius: 5px;
      font-size: 16pt; 
      background-color: #EDAF9C;
      margin: auto;
      padding: 0.5rem 0.2rem;
    }
  }

.list-row{
  display: flex;
}

.button{
  background-color: transparent;
  border: none;
  outline: none;
}

.imagePreview{
  margin-bottom: 5vh;
  display: inline-block;
  align-items: center; 
}

