/**/
@mixin filledStyle() {
  width: 500px;
  height: 500px;
  border: none;
  background-color: black;
  border-radius: 10px;
  //padding: 1.5rem;
  z-index: 10;
  overflow-y: auto;
}
  
  @mixin alignCenter() {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
  }

  .inlineblockDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flexDiv {
    display: flex;
    margin-bottom: 4rem;
    justify-content: center;
    align-items: center;
  }

  .DragDrop {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 3rem;
    @include alignCenter();
    
    &-File {
      width: 500px;
      height: 140px;
      border: 5px dashed #FF8888;
      background-color: white;
      color: #FF8888;
      border-radius: 10px;
      font-size: 20pt;
      font-weight: bold;

      @include alignCenter();
      cursor: pointer;
      transition: 0.12s ease-in;
  
      &-Dragging {
        width: 500px;
        height: 500px;
        border: 1px solid black;
        background-color: black;
        opacity: 0.5;
        border-radius: 10px;
        padding: 1.5rem;
        overflow-y: auto;
      }
    }
  
    &-Files1 {
  
      & > div {
        width: 500px;
        height: 500px;
        border-radius: 10px;
        background-color: #FFF2F2;
        //border: 1px solid red;
        display: flex;
      }


      &-Filter {
        cursor: pointer;
        margin-right: 0.5rem;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .DragDrop-Files{

    width: 500px;
    height: 500px;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    overflow-y: auto;
    //margin-bottom: 50px;
  }
  // ::-webkit-scrollbar{
  //   display: none;
  // }

  .lists{
    margin: 1rem ;
  }

  .list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #FFD2D2;
    margin: auto;
    padding: 0.5rem 0.2rem;

    &-new {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 400px;
      height: 50px;
      border-radius: 5px;
      font-size: 18px;
      background-color: #FF9C9C;
      margin: auto;
      padding: 0.5rem 0.2rem;
    }

    &-edited {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 400px;
      height: 50px;
      border-radius: 5px;
      font-size: 18px; 
      background-color: #EDAF9C;
      margin: auto;
      padding: 0.5rem 0.2rem;
    }
  }

.list-row{
  display: flex;
  border: 1px solid black;
}

.button{
  background-color: transparent;
  border: none;
  outline: none;
}

.imagePreview{
  margin-right: 1rem; //가로로 했을 때 간격
  width: 500px;
  height: 500px;
  border: none;
  border-radius: 10px;
  background-color: #FFF2F2;
  display: table;
  align-items: center;
  position: relative;
}

.imagePreviewDiv{
  display: table-cell;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imageDiv{
  max-width: 400px;
  max-height: 500px;
}

.imagePreviewRelative{
  position: relative;
}
.nameDiv{
  margin-right: auto;
  margin-left: 1rem;
}


.PreviewTextdiv{
  display: flex;
  width: 500px;
  margin-top: 4rem;
  font-size: 20px;
  margin-bottom: 1rem;
  justify-content: center;
}

.buttonsDiv{
  display: flex;
  align-items: center;
  margin-left: auto;
}

.textDiv{
  text-align: center;
  margin-left: 150px;
}

.uploadDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //margin-bottom: 50px;
}

