.repoName{
    display: inline-block;
}

.container{
    display: flex;
}


.middleContent{
    /* margin: 1rem 3rem; */
    margin: 1rem 0;
    display: flex;
    /* align-items: center; */
    /* margin: auto; */
    justify-content: center;
    flex: 1 0 auto;
}





.leftBar{
    margin-right: 5rem;
}

.middleBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5rem;
    /* margin: auto; */

}
.rightBar{
    display: flex;
    margin-left: 6rem;
    /* margin-left: auto; */
    /* width: 40%; */

}

.commit{
    justify-content: flex-start;
    margin-bottom: 10px;
}

.user{
    display: inline-block;
    margin-bottom: 20px;
    font-size: large;
}

.logBtn{
    margin-top: 15px;
}

img{
    width: 400px;
    height: 400px;
}


.repoList{
    margin-bottom: 5rem;
    align-items: center;
}

.down{
    margin: 0px 3px;
    transform: translateY(3px);
}

.setting{
    margin: 0px 2px;
    transform: translateY(2.5px);
}

.line_w{
    width: 200px;
    height: 1px;
    background-color: black;
}

.btns{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.members{
    display: flex;
    flex-direction: column;
    
}

.repo_member{
    height: 50%;
    /* margin-right: 5rem; */
}

.repo_member_title{
    display: flex;

}

.repo_member_text{
    font-size: 20px;
}

.repo_member_btn{
    margin-left: 20px;
    transform: translateY(15px);
}

.repo_member_list{
    overflow-y: auto;
    flex: 1 1 auto;

}

.branch_member{
    height: 50%;
}

.branch_member_title{
    display: flex;

}

.branch_member_text{
    font-size: 20px;
}

.branch_member_btn{
    margin-left: 20px;
    transform: translateY(15px);
}

.branch_member_list{
    overflow-y: auto;
    flex: 1 1 auto;

}

li{
    margin-bottom: 20px;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.line_h{
    width: 1px;
    height: 500px;
    transform: translateY(30px);
    background-color: black;
    align-items: end;
    margin-right: 30px;
}
