.repoName{
    display: inline-block;
}

.middleContent{
    margin: 1rem 3rem;
}

.repoList{
    margin-bottom: 5rem;
}

.down{
    margin: 0px 3px;
    transform: translateY(3px);
}

.setting{
    margin: 0px 4px;
    transform: translateY(2.5px);
}

.line{
    width: 200px;
    height: 1px;
    background-color: black;
}