.authority_list{
    margin-bottom: 3rem;
}

.authority_list_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.member{
    font-size: 20px;
}

.title{
    transform: translateX(100px);
}

.icon :hover{
    transform: scale(1.1);
}

.button {
    background-color: transparent;
}