.repoName{
    display: inline-block;
}

.middleContent{
    margin: 0 3rem;
    display: flex;
}

.leftBar{
    width: 20%;
}

.rightBar{
    margin-left: 100px;
}

.repoList{
    transform: translateY(10px);
    margin-bottom: 20px;
}

.down{
    margin: 0px 3px;
    transform: translateY(3px);
}

.setting{
    margin: 0px 4px;
    transform: translateY(2.5px);
}

.line{
    width: 200px;
    height: 1px;
    background-color: black;
}

p{
    font-size: 20px;
}